<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <title>favourite qoutes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <div>

      <nav style="margin-top:25px; margin-left:45px;">
        <a class="btn btn-primary" href="{{ url_for('quotes') }}">Add a quote</a>
      </nav>
      <br>

      <div class="container theme-showcase" role="main">

        <div style="color:#fff; background-color:#91872f", class="jumbotron">
          <h1>Favourite Quotes</h1>
        </div>


        <!--for loop starts here-->
        {% for r in result %}

        <div  style="color:rgb(0, 0, 0);background-color:#ffa31a">
          <h1>{{ r.author}}</h1>
        </div>

         <div class="email_id" style="color: navy;background-color:#ffa31a">
            <h6>{{r.email_id}}</h6>
          </div>

        <div style="color:black;font-size:28px;background-color:#99ffff">
          <p>{{ r.quote}}</p>
        </div>
        {% endfor%}
      </div>

        <!--for loop ends here-->

      </div>


    </div>


  </body>
</html>
