<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <title>favourite qoutes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <div>

      <nav style="margin-top:25px; margin-left:45px;">
        <a class="btn btn-primary" href="{{ url_for('quotes') }}">Add a quote</a>
      </nav>
      <br>

      <div class="container theme-showcase" role="main">

        <div style="color:#fff; background-color:#91872f", class="jumbotron">
          <h1>Favourite Quotes</h1>
        </div>


        <!--for loop starts here-->
        {% for r in result %}

        <div class="flex-box" style="color:rgb(0, 0, 0);background-color:#ffa31a">
          <h1>{{ r.author}}</h1>
          <div class="email_id" style="color: navy;">
            <h6>{{r.email_id}}</h6>
          </div>
        </div>

        <div style="color:black;font-size:28px;background-color:#99ffff">
          <p>{{ r.quote}}</p>
        </div>
        {% endfor%}

        <!--for loop ends here-->

      </div>


    </div>

    <!--
    <div>
      <a href="http://www.facebook.com/sharer.php?u=https://wallpaperaccess.com/writing#1196472"></a>
    </div>
    -->


  </body>
</html>
